<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteBase /flask_fcgi_test/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.fcgi/$1 [QSA,L]

<Files ~ "\.(py|md|yml|ini|sqlite3|sh)$">
  deny from all
</Files>
<Files ~ "(\.env|\.env\.example|\.git|\.gitignore|\.htaccess)$">
  deny from all
</Files>
<Files ~ "(requirements\.txt|requirements_prod\.txt)$">
  deny from all
</Files>
</IfModule>
